{% extends 'layout.html' %}

{% block content %}
<div class="container row gap-3">
    {% for post in posts %}
        <div class="card" style="width: 18rem; margin-top:40px;">
            <img src="{{ post.image.url }}" class="card-img-top" alt="Post image">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                {% if user.is_authenticated %} 
					{% if post.author == user %}
						<a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Edit</a>
						<a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Delete</a>
					{% endif %}
				{% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}